  body {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
}







.element {
            max-width: 800px;
            margin: 30px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;

}

.video-wrapper {
    margin-bottom: 20px; /* Espace entre chaque vidéo */
}

.element  video {
        
            flex-direction: column;
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; /* Espace entre chaque vidéo */
}

.caption {
    position: absolute;
    bottom: 5px; /* Ajustez cette valeur pour déterminer la distance entre la vidéo et la légende */
    left: 0;
    right: 0;
    text-align: center;
    color: white; /* Couleur du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond */
    padding: 5px; /* Espacement intérieur */
    z-index: 1;
}



